@use '../custom' as *;
@use '../components/mixins' as *;

#listadoActividades {

    margin-top: 50px;

    h2 {
        text-align: center;
    }

    #activityBox {
        margin: 30px;
        padding: 0;
        @include radius;

        .formListResults {
            margin-top: 1rem;
            padding-right: 2rem;

            .formResult {
                list-style: none;
            }
        }
    }
}